// Place all the styles related to the postings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posting {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.posting p {
	margin: 4px 0;
}

.posting.hover {
	background:#FAFAFA;
}

.button {
	font-color:white;
}